@media (max-width: 1199px) {
  .nav {
    height: 100px;
  }
  .section-title {
    margin-bottom: 10px;
    padding: 20px 0 0 0;
  }
  .section-description {
    margin-bottom: 20px;
  }
  .section-description p {
    margin: 0;
  }
  .promo-content {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .promo-card {
    height: 160px;
    margin-bottom: 24px;
  }
  .promo-features {
    padding-bottom: 40px;
  }
  .plan-card {
    width: 250px;
    height: 536px;
    padding: 20px 0 30px 0;
  }
  .plan-image {
    margin-bottom: 0;
  }
  .plan-title {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .plan-list-item-text {
    margin-bottom: 0;
    margin-top: 0;
  }
  .plan-list-item img {
    margin-right: 10px;
  }
  .map-section {
    margin-bottom: 20px;
  }
  .reviews-section {
    padding-bottom: 100px;
  }
  .reviews {
    margin-bottom: 20px;
  }
  .reviews-item {
    width: 280px;
    height: 200px;
    padding: 15px;
    margin: 0 10px;
  }
  .review-header {
    height: 30px;
    margin-bottom: 10px;
  }
  .review-header-user-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .review-header-user-info-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
  }
  .review-header-user-info-location {
    font-size: 12px;
    line-height: 1.3;
  }
  .review-header-stars-rate {
    font-size: 14px;
    height: 16px;
    margin-right: 4px;
  }
  .review-body {
    font-size: 14px;
    line-height: 1.8;
  }
  .swiper-pagination-bullet-active {
    width: 8px !important;
  }
  .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    margin-right: 4px !important;
    margin-left: 4px !important;
  }
  .reviews-button {
    padding: 2px 0 0 0;
    width: 30px;
    height: 30px;
  }
  .subscribe-card {
    top: -80px;
    height: 160px;
    padding: 0 35px;
  }
  .subscribe-card-title {
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .footer-container {
    padding-top: 120px;
    height: 400px;
  }
  .footer-description {
    line-height: 1.3;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer-socials {
    margin-bottom: 15px;
  }
  .footer-socials-link:not(:last-child) {
    margin-right: 10px;
  }
  .footer-block-column-title {
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  .footer-block-column-link {
    font-size: 16px;
    line-height: 1.3;
    cursor: pointer;
  }
}
@media (max-width: 991px) {
  .body {
    font-size: 14px;
  }
  .button {
    height: 28px;
    padding: 0 18px;
    font-size: 14px;
  }
  .nav-menu {
    display: none;
  }
  .button:hover {
    box-shadow: 0px 7px 20px rgba(245, 56, 85, 0.3);
  }
  .filled-button {
    font-size: 14px;
    border-radius: 5px;
    width: 150px;
  }
  .section-title {
    margin-bottom: 6px;
    padding: 10px 0 0 0;
  }
  .section-title h2 {
    font-size: 24px;
    line-height: 1.3;
    min-width: auto;
  }
  .section-description {
    margin-bottom: 10px;
    color: var(--grey);
  }
  .section-description p {
    line-height: 1.3;
  }
  .nav {
    height: 64px;
  }
  .sign-in-button {
    margin-right: 16px;
  }
  .promo-content {
    padding-bottom: 25px;
  }
  .promo-content-title {
    font-size: 35px;
    line-height: 1.3;
    max-width: auto;
    margin: 0;
  }
  .promo-content-description {
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .promo-card {
    height: 80px;
    margin-bottom: 24px;
  }
  .promo-card-item {
    height: 70px;
    width: calc(100% / 3 - 4px);
  }
  .promo-card-item-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 24px;
  }
  .promo-card-item-icon img {
    width: 22px;
    height: 22px;
  }
  .promo-item-num {
    font-size: 16px;
    margin: 0 0 2px 0;
  }
  .promo-item-type {
    font-size: 14px;
    line-height: 14px;
  }
  .promo-features {
    padding-bottom: 20px;
  }
  .promo-features-info-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
  }
  .promo-features-info-title {
    margin: 0 0 8px 0;
  }
  .promo-features-info-description {
    line-height: 1.3;
  }
  .promo-features-info-description {
    margin: 0;
  }
  .promo-features-info-list-item:not(:last-child) {
    margin-bottom: 6px;
  }
  .promo-features-info-list-item-icon {
    margin-right: 6px;
  }
  .plan-card {
    width: 220px;
    height: 400px;
    padding: 20px 0 30px 0;
  }
  .plan-card:hover .plan-buy-button {
    box-shadow: 0px 5px 20px rgba(245, 56, 85, 0.3);
  }
  .plan-image img {
    height: 64px;
  }
  .plan-title {
    margin-top: 6px;
  }
  .plan-list {
    margin-top: 6px;
    margin-bottom: 0;
  }
  .plan-list-item img {
    margin-right: 6px;
  }
  .plan-price {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .map-section {
    margin-bottom: 10px;
  }
  .services {
    height: 80px;
  }
  .reviews-section {
    padding-bottom: 60px;
  }
  .reviews {
    margin-bottom: 10px;
  }
  .reviews-item {
    width: 220px;
    height: 160px;
    padding: 12px;
    margin: 0 6px;
  }
  .review-header {
    height: 20px;
    margin-bottom: 4px;
  }
  .review-header-user-image {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
  .review-header-user-info-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
  }
  .review-header-user-info-location {
    line-height: 1.2;
  }
  .review-header-stars-rate {
    margin: 0 2px 0 0;
  }
  .review-header-stars img {
    width: 12px;
    height: 12px;
  }
  .review-body {
    font-size: 12px;
    line-height: 1.6;
  }
  .reviews-button {
    padding-left: 0;
    padding-right: 0;
    width: 24px;
    height: 24px;
  }
  .reviews-button-prev {
    margin-right: 12px;
  }
  .subscribe-card {
    top: -40px;
    height: 80px;
    padding: 0 24px;
  }
  .subscribe-card-title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  .subscribe-card-description {
    font-size: 12px;
    line-height: 1.2;
  }
  .footer-container {
    padding-top: 80px;
    height: 340px;
  }
  .footer-block-column-title {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  .footer-block-column-link {
    font-size: 14px;
    line-height: 1.2;
  }
}
